################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/packages
/C1Gauge101/bin/iPhoneSimulator/Debug
/C1Gauge101/obj
