<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v2/index.json" />
    <add key="C1NuGet" value="http://nuget.grapecity.com/nuget" />
    <add key="C1JPNuGet" value="http://nuget.c1.grapecity.com/nuget" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>